#{% extends "xadmin/base_site.html" %}

{% load staticfiles  %}
{% load static %}

{% block content %}


    <h3>Fulfill Bag </h3>
    <audio id="successAudio"><source src="/media/audio/success.mp3" type="audio/mpeg"></audio>
    <audio id="errorAudio"><source src="/media/audio/error.mp3" type="audio/mpeg"></audio>
    <form id="item" method="post">
        Batch_no   : <input type="text"   id="batch_no" autofocus> <br>
        <input type="text" id="test" hidden="hidden"> <br>
        <button type="button" id='get_info'>Calculate</button>


        <p>Scan Result: <span id='scan_result' style="font-size:30px"></span></p>
        <br>


        <table id="myTable" cellpadding="1" cellspacing="0" border="1" width="100%" style="font-size:18px;font-family:serif;">
        <caption align="top">Package Items</caption>
        <thead>
        <tr>
            <th>Action</th>
            <th>unbaged_pcs</th>
            <th>Bag Them</th>
        </tr>
        </thead>
        <tbody></tbody>

        </table>




        {% csrf_token %}
    </form>

    <!-- jqGrid组件基础样式包-必要 -->
		<link rel="stylesheet" href="jqgrid/css/ui.jqgrid.css" />

		<!-- jqGrid主题包-非必要 -->
		<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
		<link rel="stylesheet" href="jqgrid/css/css/redmond/jquery-ui-1.8.16.custom.css" />



		<!-- jqGrid插件包-必要 -->
		<script type="text/javascript" src="jqgrid/js/jquery.jqGrid.src.js"></script>

		<!-- jqGrid插件的多语言包-非必要 -->
		<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
		<script type="text/javascript" src="jqgrid/js/i18n/grid.locale-cn.js"></script>




    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // 这些HTTP方法不要求CSRF包含
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }








    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

        //输入框的enter事件

    $('#batch_no').bind('keyup',function(event){
    if(event.keyCode == "13") {
        //alert("get_bag_info");
        $("#get_info").trigger("click");
    }
});


    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {


        $("#get_info").click(function () {

                var batch_no = $("#batch_no").val();


                //alert_text = '请稍等,正在查询:' + batch_no + '信息';
                //alert(alert_text);
                $.ajax({
                    type: 'POST',

                     url: "/fulfillbag/",
                    data: {
                        batch_no: batch_no,

                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("fulfillbag", data);
                        var scan_result = $("#scan_result");


                        $("#batch_no").val("");

                        scan_result.html(data.scan_result);


                        if (data.scan_result !== "Success"){
                            $('#errorAudio')[0].play();

                            scan_result.css("backgroundColor", "red");

                        }
                        else{
                            $('#successAudio')[0].play();
                            scan_result.css("backgroundColor", "yellow");

                        }

                        var tbody=$('<tbody></tbody>');
                        var obj=data.items_info;
                        $(obj).each(function (index){
                            var val=obj[index];
                            var tr=$('<tr></tr>');
                            tr.append('<td>'+ val.action + '</td>'
                                +'<td>'+ val.unbaged_pcs + '</td>'
                                +'<td>'+ '<button type="button" id="bag_them_'+val.action+'">submit</button>' + '</td>' );
                            tbody.append(tr);
                        });
                        console.log("tbody", tbody);
                        $('#myTable tbody').replaceWith(tbody);








                    }
                });
         });


        $(document).on('click', '#bag_them_Normal_Case', function()  {

                alert_text = '请稍等,正在查询:bag_them_Normal_Case' ;
                alert(alert_text);
                $.ajax({
                    type: 'POST',

                     url: "/fulfillbag/",
                    data: {
                        batch_no: batch_no,

                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("bag_them_Put Away", data);








                    }
                });
         });

        $("#bag_them_Put Away").click(function () {

                alert_text = '请稍等,正在查询:bag_them_Put Away' ;
                alert(alert_text);
                $.ajax({
                    type: 'POST',

                     url: "/fulfillbag/",
                    data: {
                        batch_no: batch_no,

                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("bag_them_Put Away", data);








                    }
                });
         });


        });


    </script>




{% endblock %}