#{% extends "xadmin/base_site.html" %}

{% load staticfiles  %}
{% load static %}

{% block content %}

    <h3>Prepare For Scan Items </h3>
    <audio id="successAudio"><source src="/media/audio/success.mp3" type="audio/mpeg"></audio>
    <audio id="errorAudio"><source src="/media/audio/error.mp3" type="audio/mpeg"></audio>
    <form id="item" method="post">
        Batch_no   : <input type="text"   id="batch_no" > <br>
        <button type="button" id='preparebatch'>submit</button>
        <br>
        <p>Scanned Packages Count: <span id='scanned_packages_counts' style="color:green ; font-size:30px"></span></p>


        <table id="myTable" cellpadding="1" cellspacing="0" border="1" width="50%" style="font-size:18px;font-family:serif;">
        <caption align="top">Package Items</caption>
        <thead>
        <tr>
            <th>Action</th>
            <th>SKUs</th>
            <th>Pcs</th>

        </tr>
        </thead>
        <tbody></tbody>

        </table>


        {% csrf_token %}
    </form>



    <script type="text/javascript" src="{% static "js/JsBarcode.all.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/pazuclient.js" %}"></script>



    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // 这些HTTP方法不要求CSRF包含
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


     function  gen_barcode(barcode_toprint){

     var barcode = document.getElementById('barcode');

     options = {
         format:"CODE128",
         displayValue:true,
         fontSize:20,
         width: 1,//较细处条形码的宽度
         height:40
     };
    console.log("barcode_toprint", barcode_toprint);
     JsBarcode(barcode, barcode_toprint, options);//原生
      }

    function print_barcode() {
         PAZU.TPrinter = {
            marginTop: 0,                  //属性 上边距   数据类型：数字   单位：毫米
            marginBottom: 0,               //属性 下边距   数据类型：数字   单位：毫米
            marginLeft: 0,                 //属性 左边距   数据类型：数字   单位：毫米
            marginRight: 0,                //属性 右边距   数据类型：数字   单位：毫米
             footer: "",                      //属性  页脚   数据类型：字符串
    header: "",                       //属性  页眉   数据类型：字符串
             fontCSS: "",                        //字符串,设置页面页脚的字体的CSS（2017年增加）注意字体大小要用pt做单位
    //如果不设置 ，PAZU默认使用 8pt 字体大小，即fontCSS的默认值为"font-size:8pt;color:rgb(0,0,0)"
    orientation: 1,                     //属性纸张方向  数据类型：整数1或者2 ， 1=纵向  2=横向
               paperName: "4*3",                   //属性   纸张大小名称  数据类型：字符串

        };

            var s = document.getElementById("box").innerHTML;
            PAZU.print(s, null, null, 1);

    }




    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    /*
    $(document).keyup(function (event) {
        if (event.keyCode === 13) {
            $("#get_item_info").trigger("click");
        }
    });
    */
        //输入框的enter事件
$('#batch_no').bind('keyup',function(event){
    if(event.keyCode == "13") {

        $("#preparebatch").trigger("click");
    }
});

    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {

        $("#preparebatch").click(function () {
                var batch_no = $("#batch_no").val();


                //alert_text = '请稍等,正在查询:' + item_code + '信息';
                //alert(alert_text);
                $.ajax({
                    type: 'POST',


                     url: "/preparebatch/",
                    data: {
                        batch_no: batch_no,

                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("scanitem", data);



                        $("#scanned_packages_counts").html(data.scanned_packages_counts);



                        $('#successAudio')[0].play();


                        var tbody=$('<tbody></tbody>');
                        var obj=data.items_info;
                        $(obj).each(function (index){
                            var val=obj[index];
                            var tr=$('<tr></tr>');
                            tr.append('<td>'+ val.action + '</td>'
                                + '<td>'+ val.skus + '</td>'
                                +'<td>'+ val.pcs + '</td>'
                                );
                            tbody.append(tr);
                        });
                        console.log("tbody", tbody);
                        $('#myTable tbody').replaceWith(tbody);








                    }
                });
         });






        });


    </script>




{% endblock %}