#{% extends "xadmin/base_site.html" %}



{% block content %}

    <p>Scan Track_code or Input Order_no </p>
    <form id="package"  method="post">
        Batch_no   : <input type="text"   id="batch_no" > <br>
        <br>
        Track_code : <input type="text" id="track_code" autofocus> <br>
        Order_ref  : <input type="text" id="order_ref" > <br>
        <button type="button" id='get_package_info'>submit</button>
        <p>Scan Result: <span id='scan_result' style="font-size:30px"></span></p>

        <br>
        <p>Track_code : <span id='ret_track_code' style="font-size:20px"></span></p>
        <p>Order_no   : <span id='ret_order_no' style="font-size:20px"></span></p>
        <p>Order_ref  : <span id='ret_order_ref' style="font-size:20px"></span></p>


        {% csrf_token %}
    </form>









    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // 这些HTTP方法不要求CSRF包含
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).keyup(function (event) {
        if (event.keyCode === 13) {
            $("#get_package_info").trigger("click");
        }
    });


    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {



        $("#get_package_info").click(function () {
                //var track_code = $("input[name='track_code']").val();
            var batch_no = $("#batch_no").val();
            var track_code = $("#track_code").val();
                var order_ref = $("#order_ref").val();

                //alert_text = '请稍等,正在查询:' + track_code + '信息';
                //alert(alert_text);
                $.ajax({
                    type: 'POST',

                    url: "/scanpackage/",
                    data: {

                        batch_no: batch_no,
                        track_code: track_code,
                        order_ref: order_ref,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("get order_no", data);
                        var scan_result = $("#scan_result");
                        if (data.scan_result !== "Success"){
                            scan_result.css("backgroundColor", "red");
                        }
                        else{
                            scan_result.css("backgroundColor", "yellow");
                        }
                        scan_result.html(data.scan_result);

                        $("#ret_track_code").html(data.track_code);
                        $("#ret_order_no").html(data.order_no);
                        $("#ret_order_ref").html(data.order_ref);

                        $("#track_code").val("");
                        $("#order_ref").val("");




                    }
                });
         });






        });
    </script>


{% endblock %}