#{% extends "xadmin/base_site.html" %}

{% load staticfiles  %}
{% load static %}

{% block content %}

    <script type="text/javascript">
        var isPreviewOnly = true;
    </script>
    <h3>Scan Item_code </h3>
    <audio id="successAudio"><source src="/media/audio/success.mp3" type="audio/mpeg"></audio>
    <audio id="errorAudio"><source src="/media/audio/error.mp3" type="audio/mpeg"></audio>
    <form id="item" method="post">
        Batch_no   : <input type="text"   id="batch_no" > <br>
        <br>

        Track_code : <input type="text" id="track_code" > <br>
        <br>
        Barcode  : <input type="text"   id="barcode" style="color:red ; font-size:30px"> <br>
        <br>
        Item_code  : <input type="text"   id="item_code" style="color:red ; font-size:30px" autofocus> <br>
        Show Thumbnail: <input type="checkbox" id="show_thumbnail"  >  <br>
        <button type="button" id='get_item_info'>submit</button>


        <p>Scan Result: <span id='scan_result' style="font-size:30px"></span></p>
        <br>
        <p>Package Items Count: <span id='package_items_count' style="color:red ; font-size:30px"></span></p>
        <p>Scanned Items Count: <span id='scannned_items__count' style="color:green ; font-size:30px"></span></p>
        <br>
        <p>Item_code     : <span id='ret_item_code' style="font-size:30px"></span></p>
        <p>SKU           : <span id='sku' style="font-size:30px"></span></p>
        <p>Barcode           : <span id='new_barcode' style="font-size:30px"></span></p>
        <p>Action        : <span id='action' style="font-size:30px"></span></p>

        <table id="myTable" cellpadding="1" cellspacing="0" border="1" width="100%" style="font-size:18px;font-family:serif;">
        <caption align="top">Package Items</caption>
        <thead>
        <tr>
            <th>Item_code</th>
            <th>SKU</th>
            <th>Category</th>
            <th>Barcode</th>
            <th>Quantity</th>
            <th>Scanned Quantity</th>
            <th>Action</th>
            <th>Thumbnail</th>
        </tr>
        </thead>
        <tbody></tbody>

        </table>




        {% csrf_token %}
    </form>


    <script>
    // barcode 字符串去掉"-"变数字加一后再变成字符串加上"-"
    //增加条码的可读性
    function barcode_add(barcode){
        a = barcode.replace("-","");
        b = Number(a)+1;
        c = String(b);
        d = c.substr(0,5) + '-' + c.substr(-4,4);

        return d;


    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // 这些HTTP方法不要求CSRF包含
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).keydown(function (event) {
        //alert("document keydown")
        if (document.activeElement.id ==""){
            $("#item_code").focus();
            $("#item_code").select();
        }

    });

        //输入框的enter事件
$('#track_code').bind('keyup',function(event){
    if(event.keyCode == "13") {

        $("#get_item_info").trigger("click");
    }
});

    $('#item_code').bind('keyup',function(event){
    if(event.keyCode == "13") {

        $("#get_item_info").trigger("click");
    }
});





    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {


        $("#get_item_info").click(function () {
                var batch_no = $("#batch_no").val();
                var track_code = $("#track_code").val();
                var barcode = $("#barcode").val();
                var item_code = $("#item_code").val();

                //alert_text = '请稍等,正在查询:' + item_code + '信息';
                //alert(alert_text);
                $.ajax({
                    type: 'POST',
                     url: "/scanpackageitem/",
                    data: {
                        batch_no: batch_no,
                        track_code: track_code,
                        barcode: barcode,
                        item_code: item_code,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("scanitem", data);
                        var scan_result = $("#scan_result");
                        var action = $("#action");

                        $("#item_code").val("");

                        scan_result.html(data.scan_result);
                        $("#ret_item_code").html(item_code);

                        if (data.scan_result !== "Success"){
                            $('#errorAudio')[0].play();

                            scan_result.css("backgroundColor", "red");
                            $("#sku").html("");

                            $("#new_barcode").html("");
                            $("#action").html("");
                            //$("#barcode").html(barcode);
                        }
                        else{
                            $('#successAudio')[0].play();
                            scan_result.css("backgroundColor", "yellow");
                            $("#package_items_count").html(data.package_items_count);
                            $("#scannned_items__count").html(data.scannned_items__count);

                            $("#sku").html(data.sku);
                            $("#new_barcode").html(barcode);

                             $("#barcode").val(barcode_add(barcode));

                            switch (data.action) {
                                case "Put Away":
                                    action.css("backgroundColor", "green");
                                    break;
                                case "Put Normal_Case":
                                    action.css("backgroundColor", "yellow");
                                    break;
                                case "Dead_No_Size Away":
                                    action.css("backgroundColor", "grey");
                                    break;
                                case "Dead_Size Away":
                                    action.css("backgroundColor", "blue");
                                    break;
                                default:
                                    action.css("backgroundColor", "red");
                                    break;

                            }



                            action.html(data.action);

                        }

                        $("#item_code").focus();
                        $("#item_code").select();

                        var tbody=$('<tbody></tbody>');
                        var obj=data.items_info;
                        $(obj).each(function (index){
                            var val=obj[index];
                            var tr=$('<tr></tr>');
                            var td = "";
                            td = '<td>'+ val.item_code + '</td>'
                                + '<td>'+ val.SKU + '</td>'
                                +'<td>'+ val.name + '</td>'
                                +'<td>'+ val.barcode + '</td>'
                                +'<td>'+ val.quantity + '</td>'
                                +'<td><span style="color:red ; font-size:30px">'+ val.scanned_quantity + '</span></td>'
                                +'<td>'+ val.action + '</td>'
                            if ($("#show_thumbnail").val() == 1){
                                td = td +'<td><img src="'+ val.sku_image + '" /img></td>'
                            }



                            tr.append(td);
                            tbody.append(tr);
                        });
                        console.log("tbody", tbody);
                        $('#myTable tbody').replaceWith(tbody);








                    }
                });
         });







        });


    </script>




{% endblock %}