#{% extends "xadmin/base_site.html" %}

{% load staticfiles  %}
{% load static %}

{% block content %}

    <p>Scan Track_code then item_code </p>
    <form id="item" action="/scanpackageitem/" method="post">
<!--
        Track_code: <input type="text" id="track_code" autofocus> <br>
        <br>
   -->
        item_code  : <input type="text"   id="item_code" > <br>
        <button type="button" id='get_packageitem_info'>submit</button>
        <p>Track_code: <span id='ret_track_code' style="font-size:30px"></span></p>
        <table id="Package" cellpadding="1" cellspacing="0" border="1" class="item_info" border="1px" width="100%">
            <caption align="top"><h3>Track_code: <span id='Track_code'></span></h3></caption>
            <thead>
            <tr>
                <th>sku</th>
                <th>name</th>
                <th>quantity</th>
                <th>barcode</th>
                <th>real_quantity</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h3>js自动生成条形码插件-JsBarcode</h3>
        <div id="box">
            <img id="barcode" />
        </div>

        {% csrf_token %}
    </form>


<div id="printBtn">
         <table>
             <tr>
                 <td>test</td>
             </tr>
         </table>
    </div>
    <input type="button" onclick="print()" value="打印" />

    <script type="text/javascript" src="{% static "js/jquery.print.js" %}"></script>

    <script src="https://cdn.bootcss.com/jsbarcode/3.8.0/JsBarcode.all.min.js"></script>
    <script type="text/javascript" src="{% static "js/pazuclient.js" %}"></script>

<script>
    var PAZU_Config = {
        prot:"http",           //访问你的应用的协议
        server: 'localhost',   //打印服务器地址，如果你的应用面向Windows平台，则无需更改（每台客户端都自己做打印服务器）
        port: 6894,            //不要更改端口,并确保打印服务器上
        license:'53E1021835A1E82099579ECD5DFA75EC|深圳市中仪信息技术有限公司'             //你的PAZU许可码，可以自行在官方申请，不收费，转发微信朋友圈即可申请成功
    }
    function chkPAZU(){
      if(!window.PAZU){
         alert("PAZU云打印组件加载失败,请下载安装 \r\n :" + PAZU_Config.server + "/可以下载到PAZUCloud_setup.exe的url");
         //也可以你自己在页面里面构建一个链接提示用户下载
         return false;
      }
      return true;
   }
   window.onPAZUReady=function(){
    //这里表示PAZU肯定已经加载成功了
    alert("PAZU_Cloud init ok")
}


    </script>

    <script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // 这些HTTP方法不要求CSRF包含
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).keyup(function (event) {
        if (event.keyCode === 13) {
            $("#get_packageitem_info").trigger("click");
        }
    });


    //这里是关键点 .ready 函数好像监听器。
    $(document).ready(function () {



        $("#get_packageitem_info").click(function () {

            //var track_code = $("#track_code").val();
                var item_code = $("#item_code").val();

                alert_text = '请稍等,正在查询:' + item_code + '信息';
                alert(alert_text);
                $.ajax({
                    type: 'POST',

                    url: "/scanpackageitem/",
                    data: {


                        //track_code: track_code,
                        item_code: item_code,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        console.log("scanpackageitem", data);
                        if (data.track_code == "Not Found!"){
                            $("#ret_track_code").css("backgroundColor", "red");
                            $("#ret_order_no").css("backgroundColor", "red");
                        }
                        else{
                            $("#ret_track_code").css("backgroundColor", "yellow");
                            $("#ret_order_no").css("backgroundColor", "yellow");
                        }
                        $("#ret_track_code").html(data.track_code);
                        $("#ret_order_no").html(data.order_no);
                        //$("#track_code").val("");
                        $("#item_code").val("");
                        test(data.barcode);
                        $("#box").jqprint();



                    }
                });
         });






        });
      function  test(barcode_toprint){

     var barcode = document.getElementById('barcode'),

     options = {
         format:"CODE128",
         displayValue:true,
         fontSize:18,
         width: 1,//较细处条形码的宽度
         height:20
     };
     JsBarcode(barcode, barcode_toprint, options);//原生
      }




81     }

    </script>

    <script language="javascript">
    function print() {
         PAZU.TPrinter = {
            marginTop: 10,                  //属性 上边距   数据类型：数字   单位：毫米
            marginBottom: 10,               //属性 下边距   数据类型：数字   单位：毫米
            marginLeft: 10,                 //属性 左边距   数据类型：数字   单位：毫米
            marginRight: 10,                //属性 右边距   数据类型：数字   单位：毫米

        };

            var s = document.getElementById("box").innerHTML;
            PAZU.print(s, null, null, 1);

    }
</script>


{% endblock %}