#{% extends "xadmin/base_site.html" %}



{% block content %}

    <p>Input track_code or sku_barcode </p>
    <form id="order_items" action="/order_item/" method="post">
        code: <input type="text" id="barcode" name="a"> <br>
        <button type="button" id='query_order_item'>submit</button>
    </form>


    <table id="Order" cellpadding="1" cellspacing="0" border="1" class="com_info" border="1px" width="100%">
        <caption align="top"><h3>track_code: <span id='track_code'></span></h3></caption>
        <thead>
        <tr>
            <th>sku</th>
            <th>name</th>
            <th>quantity</th>
            <th>barcode</th>
            <th>real_quantity</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>



    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        //这里是关键点 .ready 函数好像监听器。
        $(document).ready(function () {

            //jq的处理函数，当点击提交按钮时执行。
            $("#query_order_item").click(function () {

                var barcode = $("input[name='barcode']").val();
                alert_text = '请稍等,正在查询:' + barcode + '信息';
                alert(alert_text);
                console.log("26----",alert_text);

                $.ajax({
                    url: "/order_item/",
                    type: "POST",
                    data:$("#order_items").serialize(),
                    dataType:"JSON",
                    success: function (data) {
                        console.log("26----",data);
                        var obj = eval(data);
                        var tbody = $('<tbody></tbody>');
                        $(obj).each(function (index) {
                            var val = obj[index];
                            var tr = $('<tr></tr>');
                            $.each(val, function (key, value) {
                                // key 为字典的 key，value 为对应的值
                                tr.append('<td>' + value + '</td>');
                            });

                            tbody.append(tr);
                        });
                        $('#myTable Order').replaceWith(tbody);
                    }
                });
            });
        })




            // 列表 list
            $('#list').click(function () {
                $.getJSON("/ajax_list/", function (ret) {
                    //返回值 ret 在这里是一个列表
                    for (var i = ret.length - 1; i >= 0; i--) {
                        // 把 ret 的每一项显示在网页上
                        $('#list_result').append(' ' + ret[i])
                    }
                    ;
                })
            })

            // 字典 dict
            $('#dict').click(function () {
                $.getJSON("/ajax_dict/", function (ret) {
                    //返回值 ret 在这里是一个字典
                    $('#dict_result').append(ret.twz + '<br>');
                    // 也可以用 ret['twz']
                })
            })
        });
    </script>


{% endblock %}