#{% extends "xadmin/base_site.html" %}



{% block content %}

    <p>请输入两个数字</p>
    <form action="/add/" method="get">
        a: <input type="text" id="a" name="a"> <br>
        b: <input type="text" id="b" name="b"> <br>
        <p>结果: <span id='result'></span></p>
        <button type="button" id='submit'>提交</button>
    </form>


    <table id="Order" cellpadding="1" cellspacing="0" border="1" class="com_info" border="1px" width="100%">
        <caption align="top"><h3>track_code: <span id='track_code'></span></h3></caption>
        <thead>
        <tr>
            <th>sku</th>
            <th>name</th>
            <th>quantity</th>
            <th>barcode</th>
            <th>real_quantity</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="dict">Ajax 加载字典</div>
    <p id="dict_result"></p>

    <div id="list">Ajax 加载列表</div>
    <p id="list_result"></p>


    <script>
        $(document).ready(function () {
            // 求和 a + b
            $("#submit").click(function () {

                $.ajax({
                    url: "/order_item/",
                    type: "get",
                    success: function (data) {
                        var obj = eval(data);
                        var tbody = $('<tbody></tbody>');
                        $(obj).each(function (index) {
                            var val = obj[index];
                            var tr = $('<tr></tr>');
                            $.each(val, function (key, value) {
                                // key 为字典的 key，value 为对应的值
                                tr.append('<td>' + value + '</td>');
                            });

                            tbody.append(tr);
                        });
                        $('#myTable Order').replaceWith(tbody);
                    }
                });
            });
        })




            // 列表 list
            $('#list').click(function () {
                $.getJSON("/ajax_list/", function (ret) {
                    //返回值 ret 在这里是一个列表
                    for (var i = ret.length - 1; i >= 0; i--) {
                        // 把 ret 的每一项显示在网页上
                        $('#list_result').append(' ' + ret[i])
                    }
                    ;
                })
            })

            // 字典 dict
            $('#dict').click(function () {
                $.getJSON("/ajax_dict/", function (ret) {
                    //返回值 ret 在这里是一个字典
                    $('#dict_result').append(ret.twz + '<br>');
                    // 也可以用 ret['twz']
                })
            })
        });
    </script>


{% endblock %}